body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: white;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 225, 0.2),
        rgba(255, 255, 225, 0.1)
      ),
      url(https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  header {
    background: rgba(0,22,53,0.9);
    margin: 50px 30px 10px 30px;
    padding: 80px;
    width: 20px;
  }
  h1 {
    display: block;
    font-size: 60px;
    margin: 1px 2px;
    color: rgb(255,255,255);
    display: block;
  }
  h2 {
    display: block;
    margin: 30px 50px;
    text-align: left;
    font-size: 30px;
    color: rgb(255,255,255);
  }
  .description{ 
    display: block;
    color: rgb(239,240,241);
    margin: 20px 30px 20px 30px;
    padding: 30px;
    background: rgba(0,39,92, 0.5);
    border-radius: 5px;
    font-size: 20px;
  }
  .day, 
  .month, 
  .year {
    width: 20%;
    height: 23px;
    padding: 6px 3px 5px 4px;
    color: rgb(19,21,23);
    background-color: rgb(239,240,241);
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 4px;
  }
  .name, 
  .email {
    display: block;
    width: 80%;
    height: 23px;
    padding: 6px 3px 5px 4px;
    color: rgb(19,21,23);
    background-color: rgb(239,240,241);
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 4px;
  }
  .rate-option {
    display: block;
    width: 50%;
    height: 40px;
    padding: 6px 3px 5px 4px;
    color: rgb(81,94,107);
    background-color: rgb(239,240,241);
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 4px;
  }
   textarea {
    display: block;
    width: 70%;
    height: 70px;
    padding: 6px 3px 5px 4px;
    color: rgb(81,94,107);
    background-color: rgb(239,240,241);
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 4px;
  }
  form {
    display: block;
    background: rgba(0,31,72,0.7);
    padding: 80px 100px;
    margin: 100px 30px 100px 400px;
    font-size: 18px;
    border-radius: 5px;
    }
  body,
  header, 
  footer {
    display: block;
    font-family: 'Prompt', sans-serif;
    color: rgb(229,240,255);
  }
  footer {
    background: rgba(0,22,53);
    margin: 10px -7px -16px -7px;
    padding: 0.1px;
    text-align: center;
    font-size: 17px;
  }
  input,
  button,
  select,
  textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button:hover {
    display: block;
    background-color: #92de8b;
    color: white;
  }
  button {
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0ab68b;
    color: white;
  }